* {
    margin: 0;
    padding: 0; 
}

.Header {
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    border-bottom: 1px solid;
    padding: 8px 0px; 
    position: fixed;
    top: 0;
    background: white;
    height: 40px;
}

.menuButton {
    padding: 8px 16px;
}

.Content {
    padding-top: 60px;
    margin-top:60px;
    background: pink;
}

.Footer {
    height: 300px;
    background: black;
}

.contentSection {
 height: 100vh;
}